resources/dtd/nxtLibraryElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nxtControl.com/LibraryElements" xmlns ="http://www.nxtControl.com/LibraryElements">
  <xs:element name="ECState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ECAction" />
      </xs:sequence>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ServiceTransaction" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Rung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECTransition">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
      <xs:attribute name="Source" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="Destination" type="xs:string" use="required" />
      <xs:attribute name="Condition" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterDeclaration">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VarDeclaration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ECState" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ECTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BasicFB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="InternalVars" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ECC" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Algorithm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ST">
    <xs:complexType>
      <xs:attribute name="Text" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="EventInputs" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EventOutputs" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InputVars" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OutputVars" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Sockets" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Plugs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="InputPrimitive" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OutputPrimitive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarDeclaration">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="InitialValue" type="xs:string" />
      <xs:attribute name="ArraySize" type="xs:string" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mapping">
    <xs:complexType>
      <xs:attribute name="From" type="xs:string" use="required" />
      <xs:attribute name="To" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Other">
    <xs:complexType>
      <xs:attribute name="Text" type="xs:string" use="required" />
      <xs:attribute name="Language" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubApp">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="FBNetwork" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter" />
      </xs:sequence>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VarDeclaration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identification">
    <xs:complexType>
      <xs:attribute name="Function" type="xs:string" />
      <xs:attribute name="Type" type="xs:string" />
      <xs:attribute name="Classification" type="xs:string" />
      <xs:attribute name="Standard" type="xs:string" />
      <xs:attribute name="Description" type="xs:string" />
      <xs:attribute name="ApplicationDomain" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="With">
    <xs:complexType>
      <xs:attribute name="Var" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CompilerInfo" />
        <xs:element ref="InterfaceList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Service" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FBType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CompilerInfo" />
        <xs:element ref="InterfaceList" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="BasicFB" />
          <xs:element ref="FBNetwork" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Service" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppInterfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="SubAppEventInputs" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SubAppEventOutputs" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InputVars" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OutputVars" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connection">
    <xs:complexType>
      <xs:attribute name="dx2" type="xs:string" />
      <xs:attribute name="Source" type="xs:string" use="required" />
      <xs:attribute name="dx1" type="xs:string" />
      <xs:attribute name="dy" type="xs:string" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="Destination" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubApp" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EventConnections" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DataConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEventInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="SubAppEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Value" type="xs:string" use="required"/>
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Device">
     <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FBNetwork" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter" />
      </xs:sequence>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="FB" />
        <xs:element ref="DataConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputPrimitive">
    <xs:complexType>
      <xs:attribute name="Event" type="xs:string" use="required" />
      <xs:attribute name="Parameters" type="xs:string" />
      <xs:attribute name="Interface" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CompilerInfo" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ResourceTypeName" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FBNetwork" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Plugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="AdapterDeclaration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rung">
    <xs:complexType>
      <xs:attribute name="Output" type="xs:string" use="required" />
      <xs:attribute name="Expression" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEvent">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FBTypeName">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sockets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="AdapterDeclaration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CompilerInfo" />
        <xs:element ref="SubAppInterfaceList" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SubAppNetwork" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="With" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompilerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Compiler" />
      </xs:sequence>
      <xs:attribute name="classdef" type="xs:string" />
      <xs:attribute name="header" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubAppNetwork" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ServiceSequence" />
      </xs:sequence>
      <xs:attribute name="LeftInterface" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="RightInterface" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventOutputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VarDeclaration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Algorithm">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="FBD" />
          <xs:element ref="ST" />
          <xs:element ref="LD" />
          <xs:element ref="Other" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceTypeName">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEventOutputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="SubAppEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ECAction">
    <xs:complexType>
      <xs:attribute name="Output" type="xs:string" />
      <xs:attribute name="Algorithm" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FBNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EventConnections" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DataConnections" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AdapterConnections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter" />
      </xs:sequence>
      <xs:attribute name="x" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
      <xs:attribute name="y" type="xs:string" />
      </xs:complexType>
  </xs:element>
  <xs:element name="ResourceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CompilerInfo" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FBTypeName" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration" />
        <xs:element ref="FBNetwork" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Compiler">
    <xs:complexType>
      <xs:attribute name="Version" type="xs:string" use="required" />
      <xs:attribute name="Language" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Java" />
            <xs:enumeration value="Cpp" />
            <xs:enumeration value="C" />
            <xs:enumeration value="Other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Product" type="xs:string" use="required" />
      <xs:attribute name="Vendor" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionInfo">
    <xs:complexType>
      <xs:attribute name="Version" type="xs:string" use="required" />
      <xs:attribute name="Author" type="xs:string" use="required" />
      <xs:attribute name="Organization" type="xs:string" use="required" />
      <xs:attribute name="Remarks" type="xs:string" />
      <xs:attribute name="Date" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="InputPrimitive">
    <xs:complexType>
      <xs:attribute name="Event" type="xs:string" use="required" />
      <xs:attribute name="Parameters" type="xs:string" />
      <xs:attribute name="Interface" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="System">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Application" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Device" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DeviceParameters" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Mapping" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="VersionInfo" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Identification" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>